.Home {
  height: 100vh;
}

/* for All */
.Bounceloader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input:focus-visible {
  box-shadow: 1px 1px 3px 3px rgb(84, 82, 82);
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
  background: #8888884e;
  border-radius: 5rem;
  opacity: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b9b7b7;
}
::-webkit-scrollbar-corner{
 display: none;
}


/* Navigation Bar */
.nav {
  display: flex;
  padding: 1vh 1vw;
  /* column-gap: 25px; */
  height: 4vh;
  background-color: brown;


}

.nav_title {
  font-weight: bolder;
  padding-left: 1vw;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.nav_buttons {
  display: flex;
  justify-content: right;
  width: 100%;
  column-gap: 2vw;
  padding-right: 1vw;
}

.nav_buttons img {
  cursor: pointer;
  height: 3.5vh;
}


/* Home Page */
.Home_main {
  /* min-height: 96vh; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* box-shadow: 0px -2px rgba(255, 255, 255, 0.292); */

}

.left_home {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 187, 187);
  min-height: 100%;
  width: 20%;
}

.left_home_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 1vw;
  padding-bottom: 4vh;
  /* border-bottom: 3px solid ; */
}

.left_home_profile_image {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  border: black;
  /* border: 1px solid; */
  overflow: hidden;
  margin: 2vh 1vw;

}

.left_home_profile_username {
  font-size: 100%;
}

.left_home_profile_image img {
  height: 10vw;
  width: 10vw;
  cursor: pointer;
}

.left_home_profile_Name {
  font-weight: bolder;
  margin-top: 15px;
  font-size: 25px;
}

.middle_home {
  background-color: white;
  /* background-color: white; */
  height: 94vh;
  width: 80%;
  overflow-y: scroll;
  display: flex;
  /* flex-direction:column ; */
  flex-wrap: wrap;
  justify-content: center;
}

.home_single_post {
  width: 60%;
  margin: 3vh 2vw;
  /* border: 1px solid ; */
  /* height: 80%; */
  padding: 1vh 1vw;
  border-bottom: 1px solid;

}

.home_single_post_username {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
  padding-bottom: 1vh;
  /* border-bottom: 1px solid ; */
  display: flex;
  align-items: center;
}

.home_single_post_username_image {
  overflow: hidden;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  /* border: 1px solid; */
  margin-right: 1vw;
}

.home_single_post_username img {
  height: 3vw;
  width: 3vw;
}

.home_single_post_image {
  margin-top: 1vh;
  overflow: hidden;
  /* border: 1px solid; */
  padding: 0.3vh 0.3vw;
  width: 95%;
  margin: 1vh 1vw;
  max-height: 60vh;
  object-fit: contain;
  text-align: center;
}

.home_single_post_image img {
  /* width: 100%; */
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.104);
 max-height: 60vh;
  max-width: 39vw;
}

.home_post_likes img {
  padding: 5px 0px;
  width: 35px;
  height: 35px;
  cursor: pointer;
} 
.home_post_likes_section{
  margin-left: 10px;
  display: grid;
  grid-template-columns:10% 80%  10%;
}
.home_post_caption {
  /* border-bottom: 1px solid ; */
  max-height: 40px;
  padding: 5px 0px;
  text-overflow: ellipsis;
  /* border-bottom: 1px solid; */
  overflow: hidden;
  
}

.home_post_stats span:hover{
  /* color:blue ; */
  text-decoration: underline;
  
  cursor: pointer;
}
.right_home {
  background-color: rgb(31, 187, 187);
  display: flex;
  width: 10%;
  font-size: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  padding-left: 1vw;
}

.right_home a {
  text-decoration: none;
  color: black;
}

.right_home_creator {
  /* border: 2px solid; */
  border-radius: 3rem;
  padding: 1vh 1vw ;
  background-color: #b9b7b7;
  /* padding-left: 2rem;  */
  width: 5vw;
  font-size: 100%;
  height: 4vh;
  cursor: pointer;
  text-align: center;
  margin: 1rem;
  /* box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 0.258); */
  overflow: hidden;
}

/* search section */

.searchresultbox {
  
  width: 90%;
  max-height:45vh;
  margin : 20px;
  /* border: 1px solid; */
  /* border-radius: 2rem; */
  /* background-color: rgb(123, 75, 75); */
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.299);
  overflow: scroll;
}

.searchresultboxtop {
  display: flex;
  border-bottom: 1px solid;
  justify-content: right;

}

.searchresultbox img {
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.searchresultboxbottom {
  display: flex;
  flex-direction: column;
  
}
.searchresultboxbottom div ,img{
  cursor: pointer;
}

.nav_search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home_nav input {
  font-size: 14px;
  border-radius: 3rem;
  padding-left: 1rem;
  border: none;
  cursor: pointer;

}

.home_nav input::placeholder {
  text-align: center;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .Home_main {
    display: flex;
    flex-direction: column;
  }
  .left_home{
    width: 100%;
  }
  .left_home{
 background-color: brown;
  }
  .left_home_profile{
    display: none;
  }
  .home_nav{
    display: flex;
    flex-direction: column;
    margin: 1vh;
    min-height: 5vh;
    /* align-items: center; */
    justify-content: center;
  }
  .right_home{
    display: none;
  }
  .middle_home{
    width: 100%;
    background-color: white;
  }
  .home_single_post{
    width: 97%;
    margin: 2vh 0;

  }
  .home_single_post_username{
    font-size: 6vw;
  }
  .home_single_post_username_image {
    height: 10vw;
    width: 10vw;
    margin: 2vw;
  }
  .home_single_post_username_image img{
    height: 10vw;
    width: 10vw;
  }
  .home_single_post_image{
    width: 92vw;
   max-height:80vw;
    margin: 2vw;
    /* border: 1px solid; */
  }
  .home_single_post_image img{
    max-width: 92vw;
    max-height:80vw;
   
  }
  .home_post_likes{
    margin-right: 1vh 2vw ;
  }

}