.post {
  display: flex;
  margin: 1% 10%;
  /* width: 100%; */
  /* border: 1px solid; */
  justify-content: center;
  /* flex-wrap: wrap; */
}

.post_stats {
  /* height: 650px; */
  width: 45%;
  /* background-color: rgb(167, 131, 85); */
  /* border: 1px solid; */
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.post_stats_comments {
  display: flex;
  /* height: 55%; */
  aspect-ratio: 1/1;
  margin: 3% 2%;
  flex-direction: column;
  border: 1px solid;
  overflow: scroll;
  /* background-color: black; */
}

.post_stats_add {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 5% 2%;
}

.post_stats_add button {
  margin: 2% 0;
  width: 30%;
  font-weight: bolder;
  background-color: rgb(30, 143, 30);
  color: white;
}

.post_stats_add textarea {
  resize: none;
  height: 10vh;
  /* margin: 0% 2%; */
  /* margin-left: 1vh; */
  width: 99%;
}

.post_stats_add textarea:focus {
  outline: none;
}

.post_stats_comments_all {
  display: grid;
  grid-template-columns: 50px 80%;
  margin: 3% 2%;
  padding: 0;
  font-size: 20px;
}

.post_stats_comments_all_img {
  height: 40px;
  aspect-ratio: 1/1;
  /* width: 100%; */
  border: 1px solid;
  overflow: hidden;
  border-radius: 50%;
}

.post_stats_comments_all_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.comment_username {
  font-weight: 500;
  padding: 1%;
}

/* likes box */

.showlikes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  margin-top: 5rem;
  top: 0;
  left: 0;
  /* text-align: center; */
  /* background: rgba(0, 0, 0, 0.259); */
}

.showlikesbox {
  width: 40%;
  height: 80%;
  /* border: 1px solid; */
  border-radius: 2rem;
  background-color: white;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.299);
  overflow: scroll;
}

.showlikesboxtop {
  display: grid;
  grid-template-columns: 90% 15%;
  border-bottom: 1px solid;

  /* grid-column: 20% 80%; */

}

.showlikesboxtop h2 {
  margin: 2px;
  padding: 0;
  text-align: center;
  /* border-bottom: 1px solid; */
}

.showlikesboxtop img {
  height: 20px !important;
  width: 20px !important;
  margin: 2px;

}

.showlikesboxbottom {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.likediv {
  margin: 5px;
  display: grid;
  grid-template-columns: 40px 70%;
}

.likediv span {
  padding-top: 7px;
  cursor: pointer;
}

.likediv img {
  /* post_like css over-  ride */
  border-radius: 50%;
  padding: 5px 0px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* left side */
.single_post {
  width: 45%;
  margin: 2%;
  /* height: 80%; */
  padding: 1%;
  /* border: 1px  solid; */
}

.single_post_username {
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 700;
  padding-bottom: 2%;
  /* border-bottom: 1px solid ; */
  display: flex;
  align-items: center;
}

.single_post_username_image {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.single_post_username img {
  height: 50px;
  width: 50px;
}


.single_post_image {
  margin-top: 1%;
  overflow: hidden;
  /* border: 1px solid; */
  padding: 2% 1%;
  width: 98%;
  /* object-fit: contain; */
  /* object-position: center; */
  
  aspect-ratio: 1/1;
  /* max-height: 60vh; */
  object-fit: contain;
  text-align: center;
}

.single_post_image img {
  /* width: 100%; */
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.104);
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}

.post_likes img {
  padding: 5px 0px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.post_likes_section {
  margin: 0 2%; 
  display: grid;
  grid-template-columns: 10% 60% 20% 10%;
}

.likesnumber:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post_caption {
  /* border-bottom: 1px solid ; */
  max-height: 40px;
  padding: 5px 0px;
  /* border-bottom: 1px solid; */
  overflow: hidden;

}

@media (max-width:768px) {
  .post {
    flex-direction: column;
    align-items: center;
    margin: 1%;
  }

  .single_post {
    width: 98%;
  }

  .post_stats {
    width: 100%;

  }
  .showlikesbox{
    width: 80%;
    height: 50%;
  }
}